ko.bindingHandlers.!!{cursor} = {
    init: function(element, valueAccessor) {
        var value = valueAccessor();
        $${init}
    },
    update: function(element, valueAccessor) {
        var value = valueAccessor();
        $${update}
    }
};
